/* ----------------general styling ------------*/

#browseViewMainBody{
    display: flex;
    max-height: 90%;
}

#browseView{
    display: flex;
    flex-direction: column;
}

#browseViewMainBody, #sideBarFilter, #browseView{
    height: 100% ;
}

/*---------------------------------------top bar styling --------------*/

#topBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 165, 21);
    padding-left: 10px;
    padding-right: 10px;
    height: 10%;
}

#clearFilterButton{
    background-color: white;
    border: 1px solid black;
    height: 25px;
    border-radius: 10px;
}

#clearFilterButton:hover{
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}

#topBarSortByBox{
    display: flex;
    align-items: center;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    height: 25px;
}

#sortByFilterBox{
    border: 0px; 
    height: 25px;
}

#resultNum{
    display: flex;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    height: 25px;
    align-items: center;
}

/*-----------------------------------side bar style---------*/

#genderFilterBox, #categoryFilterBox, #priceFilterBox, #sizeFilterBox{
    background-color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sideBarFilter{
    background-color: rgb(255, 165, 21);
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
    justify-content: center;
    height: 100%;
    max-height: 100%;
}

#genderFilterBox{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#genderOptionContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 5px;
    align-items: center;
}

#genderOptionContainer input{
    width: 20px;
    height: 20px;
}

#sizeFilterBox{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-bottom: 30px;
}

.valueRangeBox{
    display: flex;
    height: 30px;
    align-items: center;
}

.valueRangeBox input{
    width: 50px;
}

.toggleSizeTrue{
    background-color: rgb(141, 255, 89);
}

/*-------------------------------------browse content style ------------------*/

#browseContentBox{
    display: flex;
}

#browseItemContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    max-height: 100%;
    overflow-y: scroll;
    width: 100%;
    justify-items: center;
}

.itemBox{
    width: 200px;
    background-color: rgb(255, 165, 21);
    padding: 5px;
}

.itemBox:hover{
    cursor: pointer;
    border: 1px solid white;
}

.itemBox img{
    height: 200px;
    width: auto;
}

