/* ----------------------header styling------------------------*/

/* General Styling*/

header {
    display: grid;
    background-color: blue;
    border: 1px solid black;
    grid-template-columns: 2fr 4fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#pageIcon p, #shoppingCartBox p, #aboutUsBox p{
    margin: 0px;
    font-size: 20px;
    color: white;
}

/* Icon styling*/

#pageIcon{
    display: flex;    
    align-items: center;
    margin-right: 10px;
    
}

#pageIcon img{
    width: 50px;
    height: 60px;
}

#pageIcon p{
    margin-left: 10px;
}

/* search bar styling*/

#searchBarBox{
    display: flex;
    align-items: center;
    height: 35px;
}

#searchBar{
    width: 400px;
    height: 35px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#searchButton{
    width: 35px;
    height: 35px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(171, 171, 171);
    border: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#searchButton img{
    width: 35px;
    height: 35px;
}

#searchButton:hover{
    /* :hover was taught in web 1 but cursor I used W3Schools to learn*/
    border: 1px solid white;
    cursor: pointer;
}

/* view cart styling*/

#shoppingCartBox{
    display: flex;
    width: 85px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#shoppingCartBox img{
    width: auto;
    height: 30px;
}

#shoppingCartBox:hover{
    border: 1px solid white;
    cursor: pointer;
}

/* about us styling */

#aboutUsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#aboutUsBox img{
    height: 30px;
    width: auto;
}

#aboutUsBox:hover{
    border: 1px solid white;
    cursor: pointer;
}

/* --------------------------------- footer styling----------------------*/

footer{
    display: flex;
    width: 100%;
    height: 61.6px;
    background-color: blue;
    justify-content: space-around;
}

.footerText{
    color: white;
}