#homeView{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#womenSuper, #menSuper{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 165, 21);
}

#womenSuper:hover, #menSuper:hover{
    cursor: pointer;
    border: 1px solid white;
}

.superImg{
    width: 350px;
    height: 465px;
}

.superText{
    color: white;
}