html, body, #mainContent{
    height: 100%;
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mainContent{
    margin-left: 10px;
    margin-right: 10px;
}

.hidePage {
    display: none;
}

